@model ChefsAndDishes.ViewModels.DishViewModel;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-compatible' content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>New Chef</title>

    <style>
        .col-sm {
            background-color: lightslategray;
            border: solid 1px darkgray;
            border-radius: 15px;
            padding:15px;
            color: wheat;
            margin: 10px;
            min-height: 300px;
            }
    </style>
</head>

<body>
    <div id="container">
        <h5>Add a New Dish!</h5>
        <a href="/">Home</a>
            <div class="row">
                <div class="col-sm">
                    <form asp-action="CreateDish" asp-controller="Dish" method="POST">

                    <label asp-for="DishName">Dish Name</label>
                    <span asp-validation-for="DishName"></span>
                    <input asp-for="DishName" type="text" placeholder="Dish Name"><br><br>

                    <label asp-for="ChefId">Chef</label>
                    <span asp-validation-for="ChefId"></span>
                    <select class="form-control" name="ChefId">
                        @foreach (var chef in ViewBag.Chefs)
                        {
                        <option value='@chef.ChefId'>@chef.FirstName @chef.LastName</option>
                        }
                    </select><br><br>

                    <label asp-for="Tastiness">Tastiness</label>
                    <span asp-validation-for="Tastiness"></span>
                    <input asp-for="Tastiness" type="number"><br><br>

                    <label asp-for="Calories">Calories</label>
                    <span asp-validation-for="Calories"></span>
                    <input asp-for="Calories" type="number"><br><br>

                    <input class="btn btn-success" type="submit" value="submit">
                </div>
            </div>
        </form>
    </div>
</body>